@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
border: 3px solid rgba(0,0,0,1);
padding:20px;
font-family: "Quicksand", Georgia, sans-serif;
font-weight: 500;
font-size: 15px;
margin: auto;
min-width:890px;
}